
@media screen and (max-width: 767px) {
    .result-main{
      text-align: center;
      .result-info{
          width: 100%;
          left: 0
      }
      .result_back{
        display: flex;
        width: 20%;
         background-color: rgb(54, 179, 54);
         color: #fff;
         justify-content: center;
         padding: 10px 0;
         left: 0;
         text-decoration: none;
      }
      .text-result-info{
        width: 100%;
        left: 0;
      }
      .select-result--main-table{
        width: 100%;
        left: 0;
      }
      .text-result-content{
        left: 0;
        width: 100%;
        background-color: #fff;
      }
    }
  /* main終了 */
  //アンケート投稿ページのcss
.enquete-ansewr-main{
  display: block;
  width: 100%;
  margin: 0;
  text-align: left;
  .area{
    width: 100%;
    background-color: rgb(231, 226, 226);
    padding: 30px;
    .group{
      width: 100%;
      margin-bottom: 20px;
      input[type='text']{
        width: 100%;
        border: 1px solid  #c0c0c0;
        height: 40px;
       }
      input[type='text']:focus{
      border: 3px solid green;
      outline: 0;
      }
    }
    h3::before{
      content: "";
    }
    //タイトルヘッダー
    h5{
      font-size: 12px;
    }
     input[type="submit"]{
       width: 100%;
       margin-top: -1%;
       margin-bottom: 5%;
     }
     a{
       background-color: #fff;
       display: block;
       padding: 12px 0;
       text-decoration: none;
       text-align: center;
       color: rgb(39, 36, 36);
     }

  }
}
//アンケート投稿ページのcss終了
}
