<div class="text-center">
  <h3>アンケート集計</h3>
  <div class="result-info">
    <p>アンケート名</p>
    <p>【<%= @enquete.title %>】</p>
  </div>
  <%= link_to "⬅︎戻る", pages_index_path,style:"position:relative;;left:-23%;top:-20px" %>
  <article>
   <section>
     <%= render'select', {titles: @select_titles, totals: @totals} %>
   </section><br>

   <section>
      <%= render 'text', {titles: @text_titles} %>
   </section>
  </article>

</div>
