<div class="area_present_enquete">
 <p><%= params[:area].present? ? "【#{params[:area]}エリアアンケート】" : "【山梨全域エリアアンケート】" %></p>
 
  <!-- パソコン版のテーブル -->
    <div class="index-page-pc">
       <%= render '/pages/PC/index', {enquetes: @enquetes} %>
    </div>

    <!-- スマホ版のテーブル -->
    <div class="index-page-phone">
       <%= render '/pages/Phone/index', {enquetes: @enquetes} %>
    </div>
</div>