<section>
  <h3 class="site-info">地域を選択してアンケート検索</h3>
  <p class="area-serach-info">アンケートを山梨県の地域別に検索できます。地図の検索したい地域を選択してください。</p>
  <div class="img_area">
    <%= link_to "山梨県全域で検索", area_pages_path %><br>
    <%= render "map" %>

  </div>
</section><br>

<!--検索アンケート -->
<section>
  <h3 id="site-area-info">検索されたアンケート</h3>
  <%= render @enquetes.count  >0? 'present' : 'null', {enquetes: @enquetes} if @enquetes  %>
</section>
