<%= provide(:bread, enquete_recently_bread) %>

<section>
  <h3 class="site-info">アンケート一覧</h3>
  <p class="aggregate_info">投稿3日以内の新着アンケートです。</p>

</section>
<div class="enquete-select-area">
  <div class= "new-enquete">
   <%= link_to  pages_path do  %>
     <span>↩︎</span>戻る
   <% end %>
  </div>
</div>