<!-- パンくずリスト -->
<div class="breadcrumbs-manager-new_form">
  <%= qnquete_new_form_bread %>
</div>

<div class="registration-title">
　<h3><%= image_tag("/enquete.svg",size:"50x50") %>新規アンケート作成</h3>
</div>

<%= render 'form' %>

