.phone-list { display: none;}

//タイトル
.manager_list_title{
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-top: 2%;
  h1{
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}
//タイトル終了

//新規ホームボタン
.manager_buttons{
  width: 70%;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 50px;
  a{
    background-color: rgb(97, 100, 82);
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    font-size: 14px;
  }
  a:hover{
    background-color: rgb(151, 156, 125);
  }
}
//新規ホームボタン終了

//ユーザーのアンケートリスト
.admin-list-table{
  width: 70%;
  margin: 0 auto;
  border: 0px none !important;
  background-color: #fff;
  th{
    background-color: #000;
    color: rgb(222, 222, 251);
  }
 
  td{
    button, .a{
      background-color: #2C7CFF;
      border: none;
      border-bottom: 3px solid rgb(37, 37, 226);
      color: #fff;
      text-decoration: none;
      font-size: 14px;
      width: 90%;
      margin: 0 auto;
      padding: 17px 0;
      display: block;
     
    }
    button:hover, a:hover{
      background-color: #c0c0c0;
    }
    
    
  }
}
//ユーザーのアンケートリスト終了
//折り畳みテーブルエリア
.tr-questions{
    .add-question{
      background-color: rgb(18, 168, 18);
      border-bottom: 3px solid rgb(4, 120, 4);
      color: #fff;
      display: block;
      margin: 2px 0 15px 2px;
      text-align: center;
      text-decoration: none;
      width: 15%;
      padding: 10px 0;
    }
    .add-question:hover{
       background-color: rgb(97, 212, 97);
    }
    .hidden-td{
      ul{
        li{
          display: block;
          width: 80%!important;
          margin: 0 auto;
        }
      }
    }
    .hidden-buttons{
      width: 80%;
      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      justify-content: flex-start;
      a{
        width: 100px;
        padding: 5px 0;
        margin-right: 10px;
        background-color: #2C7CFF;
        font-size: 14px;
        border: none;
        border-bottom: 3px solid rgb(37, 37, 226);
        color: #fff;
        text-decoration: none;
      }
      .questin-delete{
        background-color: rgb(222, 44, 44);
        border-bottom: 3px solid rgb(159, 17, 17)
      }
      .questin-delete:hover{
        background-color: pink;
      }
    }
 }
 //折り畳みテーブルエリア終了

/**************************************************************************************************/
@media screen and ( max-width: 767px) {
  
  //タイトル
  .manager_list_title{
    width: 70%;
    text-align: center;
    margin: 0 auto;
    h1{
      font-size: 20px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  }
  //タイトル終了

  //新規ホームボタン
.manager_buttons{
  width: 70%;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 50px;
  a{
    background-color: rgb(97, 100, 82);
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    font-size: 14px;
  }
  a:hover{
    background-color: rgb(151, 156, 125);
  }
}
//新規ホームボタン終了

  //ユーザーのアンケートリスト
.admin-list-table{
  width: 100%;
  margin: 0;
  border: 0px none !important;
  th{
    background-color: #000;
    color: rgb(222, 222, 251);
  }
 
  td{
    button, .a{
      background-color: #2C7CFF;
      color: #fff;
      text-decoration: none;
      font-size: 14px;
      width: 90%;
      margin: 0 auto;
      padding: 17px 0;
      display: block;
      border: none;
    }
    button:hover, a:hover{
      background-color: #c0c0c0;
    }
  }
 
}
//ユーザーのアンケートリスト終了
  //折り畳みテーブルエリア
.tr-questions{
    .add-question{
      background-color: rgb(18, 168, 18);
      border-bottom: 3px solid rgb(4, 120, 4);
      color: #fff;
      display: block;
      margin: 2px 0 15px 2px;
      text-align: center;
      text-decoration: none;
      width: 30%;
      padding: 10px 0;
    }
    .add-question:hover{
       background-color: rgb(97, 212, 97);
    }
    .hidden-td{
      ul{
        li{
          display: block;
          width: 100%!important;
          margin: 0;
        }
      }
    }
    .hidden-buttons{
      width: 100%;
      margin: 0;
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      justify-content:space-between;
      a{
        width: 50%;
        padding: 20px 0;
        margin-left: 10px;
        background-color: #2C7CFF;
        font-size: 14px;
        border: none;
        border-bottom: 3px solid rgb(37, 37, 226);
        color: #fff;
        text-decoration: none;
      }
      .questin-delete{
        background-color: rgb(222, 44, 44);
        border-bottom: 3px solid rgb(159, 17, 17)
      }
      .questin-delete:hover{
        background-color: pink;
      }
    }
 }
 //折り畳みテーブルエリア終了
}
/*********************************************スマホ終了************************************************************************************/