.phone-list { display: none;}

//タイトル
.manager_list_title{
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-top: 2%;
  h1{
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}
//タイトル終了

//新規ホームボタン
.manager_buttons{
  width: 70%;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 50px;
  a{
    background-color: rgb(97, 100, 82);
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    font-size: 14px;
  }
  a:hover{
    background-color: rgb(151, 156, 125);
  }
}
//新規ホームボタン終了

//ユーザーのアンケートリスト
.admin-list-table{
  width: 70%;
  margin: 0 auto;
  border: 0px none !important;
  background-color: #fff;
  th{
    background-color: #000;
    color: rgb(222, 222, 251);
  }
 
  td{
    button, .a,.enquete-result{
      background-color: #2C7CFF;
      border: none;
      color: #fff;
      text-decoration: none;
      font-size: 14px;
      width: 90%;
      margin: 0 auto;
      padding: 17px 0;
      display: block;
     
    }
    .a{
       background-color: rgb(222, 44, 44);
    }
    button:hover, a:hover{
      background-color: #c0c0c0;
    }
    
    
  }
}
//ユーザーのアンケートリスト終了
//折り畳みテーブルエリア
.tr-questions{
    background-color: #f9f9f9;
    .add-question{
      background-color: rgb(18, 168, 18);
      border-bottom: 3px solid rgb(4, 120, 4);
      color: #fff;
      display: block;
      margin: 2px 0 15px 2px;
      text-align: center;
      text-decoration: none;
      width: 15%;
      padding: 10px 10px;
    }
    .add-question:hover{
       background-color: rgb(97, 212, 97);
    }
    .hidden-td{
      ul{
        background-color: #f9f9f9;
        li{
          display: block;
          width: 80%!important;
          margin: 0 auto;
        }
      }
    }
    .hidden-buttons{
      width: 80%;
      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      justify-content: flex-start;
      a{
        width: 100px;
        padding: 5px 0;
        margin-right: 10px;
        background-color: #2C7CFF;
        font-size: 14px;
        border: none;
        border-bottom: 3px solid rgb(37, 37, 226);
        color: #fff;
        text-decoration: none;
      }
      .questin-delete{
        background-color: rgb(222, 44, 44);
        border-bottom: 3px solid rgb(159, 17, 17);
      }
      .questin-delete:hover{
        background-color: pink;
      }
    }
 }
 //折り畳みテーブルエリア終了
 //------------------------------新規登録関連 ---------------------------------------------------------
  /*********************************アンケートフォーム最初のページ********************************************/
 //パンクズリスト
 .breadcrumbs-manager-new_form{
   margin: 0 auto;
   margin-top: 10px;
   width: 30%;
   .bread-content{
      a{
        text-decoration: none;
      }
      a:after{
        content: ">";
        margin: 0 2px;
        color: #000;
      }
   }
 }
 //パンクズリスト終了

 //アンケート新規登録タイトル
 .registration-title{
   font-size: 28px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-align: center;
   margin:50px 0 20px ;
   display: flex;
   align-items: center;
   justify-content: center;
   

 }
 //新規アンケートのエリア
 .new-enquete-area{
   width: 30%;
   margin: 0 auto;
   background-color: #f9f9f9;
   padding: 20px 30px;
   border:1px solid #d8d8d8;
   .form-parts{
     display: flex;
     width: 100%;
     margin-top: 30px;
     margin-bottom: 40px;
     justify-content:first baseline;
     align-items: center;
     label{
       display: block;
       width: calc( 1/5 * 100%);
       background: rgb(36, 200, 36);
       height: 40px;
       line-height: 42px;
       color: #fff;
       font-size: 12px;
       text-align: center;
     }
     input[type="text"], #dp1,select{
       display: block;
       width: calc( 4/5 * 100%);
       border: 1px solid #d9d9d9;
       height: 40px;
       font-size: 12px;
     }
     input[type="text"]:focus,#dp1:focus{
       border-radius: 0;
       border: 3px solid green;
       outline: none;
     }
   }
   //.form-parts終了
   label{
       width: 100%;
       background: rgb(36, 200, 36);
       height: 40px;
       line-height: 42px;
       color: #fff;
       font-size: 12px;
       text-align: center;
   }
   textarea{
     width: 100%;
     border: 1px solid #d9d9d9;
     font-size: 14px;
   }
   textarea:focus{
       border-radius: 0;
       border: 3px solid green;
       outline: none;
     }
   input[type="submit"]{
     width: 100%;
     height: 40px;
     background-color: rgb(116, 116, 248);
     color: #fff;
     border: rgb(21, 21, 243);
   }
   input[type="submit"]:hover{
    background-color: rgb(193, 193, 218);
   }
 }
/*********************************アンケートフォーム最初のページ終了********************************************/
/*---------------------------アンケートフォーム質問登録ページ--------------------------------------------------*/
//タイトル
.question_new_form-title{
  font-size: 28px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-align: center;
   margin: 0 auto;
   margin-top: 10px;
   width: 60%;
   display: flex;
   align-items: center;
   justify-content: center;
}
//タイトルエリア
.question-title-area{
   margin: 0 auto;
   margin-top: 10px;
   text-align: center;
   width: 60%;
   background-color: #2C7CFF;
   color: #FFF0F5;
   padding: 20px 0;
   border-bottom: 4px solid #A4C6FF;
}
//メインエリア
.new-question-area{
   margin: 0 auto;
   margin-top: 20px;
   width: 60%;
   
   form{
     width: 100%;
     background-color: #fff;
     padding: 10px 0;
     .form-parts{
        width: 95%;
        margin: 0 auto;
        label{
          display: block;
          width: 18%;
          background-color: #2C7CFF;
          padding: 5px 0;
          margin-top: 10px;
          font-size: 14px;
          color: #fff;
        }
        label::before{
          content: "";
          border-left: 4px solid red;
          margin: 0 2px;
        }
        textarea{
          width: 100%;
          border: 1px solid #b0b0b0;
          font-size: 14px;
        }
         textarea:focus{
          border-radius: 0;
          border: 3px solid green;
          outline: none;
        }
     }
      input[type="submit"]{
          display: block;
          margin: 0 auto;
          margin-top: 20px;
          margin-bottom: 10px;
          width: 80%;
          height: 40px;
          background-color: #009900;
          color: #fff;
          border: #00AA00;
        }
        input[type="submit"]:hover{
          background-color: #90EE90;
        }
   }
   
}
/*---------------------------アンケートフォーム質問登録ページ終了--------------------------------------------------*/
/*****************************アンケート新規選択肢登録ページ**********************************/
//タイトル
.form_new_form-title{
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}
//タイトル、質問
.new-form-select-area{
  width: 45%;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #FFA07A;
  padding: 20px 0 5px 0;
  text-align: center;
  font-weight: bold;
  border-bottom: 5px solid #B8860B;
  color: #FAF0E6;
  div{
    margin-bottom: 10px;
  }
  div span{
    color: #007700;
  }
}
//フォームタイプ選択
.select-type-area{
  width: 45%;
  margin: 0 auto;
  margin-bottom: 30px;
  background-color: #FFF;
  border: 2px solid #E6E6FA;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  fieldset{
    border: 1px double #c0c0c0;
    width: 70%;
    margin: 0 auto;
    padding: 5px 0;
    text-align: left;
    div{
      margin: 8px 0;
      label{
      font-weight: 200;
     }
    }
  }
}
//フォーム本体
.form-select-area{
   width: 45%;
   margin: 0 auto;
   margin-bottom: 30px;
   background-color: #FFF;
   border: 2px solid #E6E6FA;
   padding: 20px;
}

/*****************************アンケート新規選択肢登録ページ終了**********************************/
//------------------------------新規登録関連終了 ---------------------------------------------------------









/*[***************************************スマホ**************************************************************************************/
/***********************************************************************************************************************************]*/
/*
*
*
*
*
*
*/

@media screen and ( max-width: 767px) {

  
  //タイトル
  .manager_list_title{
    width: 70%;
    text-align: center;
    margin: 0 auto;
    h1{
      font-size: 20px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  }
  //タイトル終了

  //新規ホームボタン
.manager_buttons{
  width: 70%;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 50px;
  a{
    background-color: rgb(97, 100, 82);
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    font-size: 14px;
  }
  a:hover{
    background-color: rgb(151, 156, 125);
  }
}
//新規ホームボタン終了

  //ユーザーのアンケートリスト
.admin-list-table{
  width: 100%;
  margin: 0;
  border: 0px none !important;
  th{
    background-color: #000;
    color: rgb(222, 222, 251);
  }
 
  td{
    button, .a{
      background-color: #2C7CFF;
      color: #fff;
      text-decoration: none;
      font-size: 14px;
      width: 90%;
      margin: 0 auto;
      padding: 17px 0;
      display: block;
      border: none;
    }
    button:hover, a:hover{
      background-color: #c0c0c0;
    }
  }
 
}
//ユーザーのアンケートリスト終了
  //折り畳みテーブルエリア
.tr-questions{
    .add-question{
      background-color: rgb(18, 168, 18);
      border-bottom: 3px solid rgb(4, 120, 4);
      color: #fff;
      display: block;
      margin: 2px 0 15px 2px;
      text-align: center;
      text-decoration: none;
      width: 40%;
      padding: 10px 10px;
    }
    .add-question:hover{
       background-color: rgb(97, 212, 97);
    }
    .hidden-td{
      ul{
        li{
          display: block;
          width: 100%!important;
          margin: 0;
        }
      }
    }
    .hidden-buttons{
      width: 100%;
      margin: 0;
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      justify-content:space-between;
      a{
        width: 50%;
        padding: 20px 0;
        margin-left: 10px;
        background-color: #2C7CFF;
        font-size: 14px;
        border: none;
        border-bottom: 3px solid rgb(37, 37, 226);
        color: #fff;
        text-decoration: none;
      }
      .questin-delete{
        background-color: rgb(222, 44, 44);
        border-bottom: 3px solid rgb(159, 17, 17)
      }
      .questin-delete:hover{
        background-color: pink;
      }
    }
 }
 //折り畳みテーブルエリア終了
 //------------------------------新規登録関連 ---------------------------------------------------------
 /*********************************アンケートフォーム最初のページ********************************************/
 //パンクズリスト
 .breadcrumbs-manager-new_form{
   margin: 0 auto;
   margin-top: 10px;
   width: 50%;
   .bread-content{
      display: block;
      margin-bottom: 28px;
      a{
        display: block;
        text-decoration: none;
        padding: 0;
        color: red;
      }
      a:after{
        content: ">";
        margin: 0 2px;
        color: #000;
      }
    }
 }
 //パンクズリスト終了
 //新規アンケートのエリア
 .new-enquete-area{
   width: 100%;
   margin: 0 auto;
   background-color: #f9f9f9;
   padding: 20px 30px;
   border:1px solid #d8d8d8;
   .form-parts{
     display: flex;
     width: 100%;
     margin-top: 30px;
     margin-bottom: 40px;
     justify-content:first baseline;
     align-items: center;
     label{
       display: block;
       width: calc( 1/5 * 100%);
       background: rgb(36, 200, 36);
       height: 40px;
       line-height: 42px;
       color: #fff;
       font-size: 12px;
       text-align: center;
     }
     input[type="text"], #dp1,select{
       display: block;
       width: calc( 4/5 * 100%);
       border: 1px solid #d9d9d9;
       height: 40px;
       font-size: 12px;
     }
     input[type="text"]:focus,#dp1:focus{
       border-radius: 0;
       border: 3px solid green;
       outline: none;
     }
   }
   //.form-parts終了
   label{
       width: 100%;
       background: rgb(36, 200, 36);
       height: 40px;
       line-height: 42px;
       color: #fff;
       font-size: 12px;
       text-align: center;
   }
   textarea{
     width: 100%;
     border: 1px solid #d9d9d9;
     font-size: 14px;
   }
   textarea:focus{
       border-radius: 0;
       border: 3px solid green;
       outline: none;
     }
   input[type="submit"]{
     width: 100%;
     height: 40px;
     background-color: rgb(116, 116, 248);
     color: #fff;
     border: rgb(21, 21, 243);
   }
   input[type="submit"]:hover{
    background-color: rgb(193, 193, 218);
   }
 }
 /*********************************アンケートフォーム最初のページ********************************************/
 /*---------------------------アンケートフォーム質問登録ページ--------------------------------------------------*/
   //タイトル
.question_new_form-title{
  font-size: 20px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-align: center;
   margin: 0 auto;
   margin-top: 10px;
   width: 100%;
   display: block;
}
//タイトルエリア
.question-title-area{
   margin: 0;
   margin-top: 10px;
   text-align: center;
   width: 100%;
   padding: 20px 0;
   border-bottom: 4px solid #A4C6FF;
}
//メインエリア
.new-question-area{
   margin: 0;
   margin-top: 20px;
   width: 100%;
   
   form{
     width: 100%;
     background-color: #fff;
     padding: 10px 0;
     .form-parts{
        width: 95%;
        margin: 0 auto;
        label{
          display: block;
          width: 100%;
          background-color: #2C7CFF;
          padding: 5px 0;
          margin-top: 10px;
          font-size: 14px;
          color: #fff;
        }
        label::before{
          content: "";
          border-left: 4px solid red;
          margin: 0 2px;
        }
        textarea{
          width: 100%;
          border: 1px solid #b0b0b0;
          font-size: 14px;
        }
         textarea:focus{
          border-radius: 0;
          border: 3px solid green;
          outline: none;
        }
     }
      input[type="submit"]{
          display: block;
          margin: 0 auto;
          margin-top: 20px;
          margin-bottom: 10px;
          width: 90%;
          height: 60px;
          background-color: #009900;
          color: #fff;
          border: #00AA00;
        }
        input[type="submit"]:hover{
          background-color: #90EE90;
        }
   }
   
}
/*---------------------------アンケートフォーム質問登録ページ終了--------------------------------------------------*/
/*****************************アンケート新規選択肢登録ページ**********************************/

//タイトル、質問
.new-form-select-area{
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  
}
//フォームタイプ選択
.select-type-area{
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
  background-color: #FFF;
  border: 2px solid #E6E6FA;
  padding: 20px;
  text-align: left;
  font-weight: bold;
  font-size: 12px;
  fieldset{
    border: 1px double #c0c0c0;
    width: 100%;
    margin: 0;
    padding: 5px 0;
    text-align: left;
    div{
      margin: 8px 0;
      label{
      font-weight: 200;
     }
    }
  }
}
//フォーム本体
.form-select-area{
   width: 100%;
   margin: 0;
   margin-bottom: 30px;
   background-color: #FFF;
   border: 2px solid #E6E6FA;
   padding: 20px;
}
/*****************************アンケート新規選択肢登録ページ終了**********************************/


//------------------------------新規登録関連 ---------------------------------------------------------
}
/*********************************************スマホ終了************************************************************************************/