// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.site-info, #site-area-info{
  background-color: #522f60;
  border-left: 10px solid #f09199;
  margin: 2% 2% 2% 3%;
  color: #f09199;
  text-align: center;
  padding: 6px 0;
}
.site_guidance-area{
  display: flex;
  margin-left: 3%;
  
}
.site-gide-text{
  margin: 0 auto;
  box-sizing: border-box;
  overflow-wrap: anywhere;
  word-wrap:break-all;
}
/*サイトボタンエリア */
.site-enquete-button-div{
  margin-top: 0.5%;
  margin-left: 2%;
  width: 100%;
  text-align: left;
  .a{
    background-color: #ecc5c9;
    border: 1px solid #ecc5c9;
    border-radius: 8px;
    color: #522f60;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    display: flex;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 0;
    width: 95%;
    flex-direction: row;
    align-items: center;
    margin-left: -5%;
    margin-top: 2%;
  
    
    img{
      width: 10%;
     
    }
    div{
      margin-top: 1%;
      width: 90%;
      font-size: 18px;
      text-align: center;
      
    }
   
  &.a:hover{
    background-color:#f8d9db;
    }
  }
}
/*サイト説明エリア*/
.site_how_to_use{
    margin-left: 3%;
    text-align: center;
    h4{
      border-bottom: 8px solid #ecc5c9;
      padding: 5px 0;
    }
    p{
      margin-top: 2%;
    }
}
/*サイト内のアンケート登録の説明エリア*/
.site_enquete_description{
  display: flex;
  width: 100%;
  ul{
    margin: 0;
    width: 100%;
    list-style: none;
    li{
      margin-top: 10px;
      img{
        width: 100px;
        height: 100px;
      }
    }
    .step-list{
        margin-top: 20px;
        margin-bottom: 15px;
        background-color: #522f60;
        color:#ecc5c9;
        border-radius: 100px;
        width: 50%;
        position: relative;
        left: 25%;

    }
  }
}
.enquete_description_sub_title{
  width: 100%;
  margin: 30px 0 50px 0;
}
/*アンケートの集計についての補足*/
.aggregate_info{
  width: 100%;
  position: relative;
  left: 10%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*アンケート一覧テーブル*/
.page-list-table{
  position: relative;
  left: 10%;
  border: 1px solid #c0c0c0;
  text-align: left;
  width: 80%;
  margin-bottom: 50px;
  th{
    background-color: #ecc5c9;
    color: #522f60;
    height: 40px;
  }
  td{
    height: 80px;
    .enquete-answer-button{
      background-color: rgb(49, 176, 49);
      text-decoration: none;
      color: rgb(241, 238, 238);
      padding: 20px 10px;
      fill: #FFF;
      display: inline-block;
    }
    .enquete-answer-button:hover{
      background-color: rgb(158, 248, 158);
    }
    span{
      background-color: red;
      color: #fff;
      padding: 2px 5px;

    }
  }
}
/*アンケートなしの場合*(indexページ)*/
.index-no-enquete{
  position: relative;
  left: 10%;
  width: 80%;
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px 0;
  margin-bottom: 20px;
  color: #553c3e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*新規アンケート作成の際の案内*/
.login-new-info{
  position: relative;
  left: 30%;
  width: 50%;
  margin-top: 50px;
  .div{
    background-color: blanchedalmond;
    border-bottom: 5px solid rgb(236, 55, 55);
    margin-bottom: 50px;
    padding: 10px 0;
    text-align: center;
  }
  .img-div{
    margin: 50px 0;
    position: relative;
    left: 35%;
  }
  .login-a{
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: #522f60;
    color: #fff;
    width: 100%;
    margin-bottom: 40px;
    padding: 15px 0;
    transition: box-shadow .3s;
    
  }
  .login-a:hover{
    background-color: #754688;
    box-shadow: 0 12px 12px #a262bb;
    transform: translateY(-4px);
  }
  .enquete-a{
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: #522f60;
    color: #fff;
    width: 100%;
    margin-bottom: 40px;
    padding: 15px 0;
    transition: box-shadow .3s;
  }
  .enquete-a:hover{
    background-color: #754688;
    box-shadow: 0 12px 12px #a262bb;
    transform: translateY(-4px);
  }
}
/*一覧ページにてアンケートタイプリンクへ*/
.enquete-select-area{
  display: flex;
  width: 80%;
  position: relative;
  left: 10%;
  margin-bottom: 30px;
  .new-enquete{
    width: 49%;
    margin-right: 1%;
    text-align: center;
    a{
      width: 100%;
      background-color: rgb(229, 197, 150);
      display: block;
      color: #522f60;
      font-family: 'Times New Roman', Times, serif;
      font-weight: bold;
      text-decoration: none;
      padding: 10px 0;
      transition: box-shadow .3s;
    }
    a:hover{
      background-color: rgb(251, 241, 225);
      transform: translateY(-4px);
      box-shadow: 0 12px 12px rgb(229, 197, 150);
    }
  }
  .area-enquete{
    width: 49%;
    margin-left: 1%;
    text-align: center;
    a{
      width: 100%;
      background-color: rgb(229, 197, 150);
      color: #522f60;
      font-family: 'Times New Roman', Times, serif;
      font-weight: bold;
      display: block;
      text-decoration: none;
      padding: 10px 0;
      transition: box-shadow .3s;
      
    }
    a:hover{
       background-color: rgb(251, 241, 225);
       box-shadow: 0 12px 12px rgb(229, 197, 150);
       transform: translateY(-4px);
    }
  }
}
/*県内の写真のページ*/
.img_area{
  width: 100%;
  a{
    background-color: #1a813d;
    padding: 10px;
    margin-left: 5%;
    margin-bottom: 2%;
    padding: 15px 10px;
    text-decoration: none;
    color: #fff
  }
  a:hover{
    background-color: rgb(30, 222, 30);
  }
  img{
    position: relative;
    left: 25%;
    background-color: #c0c0c0;
  }
}
/*県内検索の説明 */
.area-serach-info{
   margin: 2% 2% 5% 10%;
}
/*エリア別アンケート存在時のエリア*/
.area_present_enquete{
  p{
     margin: 2% 2% 2% 3%;
     font-weight: bold;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
}
.index-page-phone{
  position: relative;
  left: 5%;
  width: 90%;
  display: none;
  table{
   margin-bottom: 50px;
   th{
     background-color: #ecc5c9;;
     width: calc( 1/ 2 * 100%);
     color: #522f60;
   }
   td{
     color: black;
     .enquete-answer-button{
        background-color: rgb(49, 176, 49);
        text-decoration: none;
        color: rgb(241, 238, 238);
        padding: 20px 10px;
        fill: #FFF;
        display: flex;
        width: 90%;
        text-align: center;
        justify-content: center;
        margin-top: 1%;
        margin-left: 5%;
       }
    span{
       background-color: red;
       padding: 2px;
       color: #fff;
     }
    }
  }
  
}
/* ipad */
@media screen and (max-width: 769px) {
  .index-page-phone{
    display: block;
  }
  .page-list-table{
     display: none;
  }

}

