// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.site-info{
  background-color: #522f60;
  border-left: 10px solid #f09199;
  margin: 2% 2% 2% 3%;
  color: #f09199;
  text-align: center;
}
.site_guidance-area{
  display: flex;
  margin-left: 3%;
  
}
/*サイトボタンエリア */
.site-enquete-button-div{
  margin-top: 0.5%;
  margin-left: 2%;
  width: 98%;
  .a{
    background-color: #ecc5c9;
    border: 1px solid #ecc5c9;
    border-radius: 8px;
    color: #522f60;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    display: table;
    font-weight: bold;
    text-decoration: none;
    padding: 2%;
    width: 100%;
    img{
      position: relative;
      left: 20%;
    }
    span{
      position: relative;
      left: 10%;
      top: 2px;
    }
  &.a:hover{
    background-color:#f8d9db;
    }
  }
}
/*サイト説明エリア*/
.site_how_to_use{
    margin-left: 3%;
    text-align: center;
    h4{
      border-bottom: 8px solid #ecc5c9;
      padding: 5px 0;
    }
    p{
      margin-top: 2%;
    }
}
/*サイト内のアンケート登録の説明エリア*/
.site_enquete_description{
  display: flex;
  width: 100%;
  ul{
    margin: 0;
    width: 100%;
    list-style: none;
    li{
      margin-top: 10px;
      img{
        width: 100px;
        height: 100px;
      }
    }
    .step-list{
        margin-top: 20px;
        margin-bottom: 15px;
        background-color: #522f60;
        color:#ecc5c9;
        border-radius: 100px;
        width: 50%;
        position: relative;
        left: 25%;

    }
  }
}
.enquete_description_sub_title{
  width: 100%;
  margin: 30px 0 50px 0;
}
/*アンケートの集計についての補足*/
.aggregate_info{
  position: relative;
  left: 10%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*アンケート一覧テーブル*/
.page-list-table{
  position: relative;
  left: 10%;
  border: 1px solid #c0c0c0;
  text-align: left;
  width: 80%;
  margin-bottom: 50px;
  th{
    background-color: #ecc5c9;
    color: #522f60;
    height: 40px;
  }
  td{
    height: 80px;
    .enquete-answer-button{
      background-color: rgb(49, 176, 49);
      text-decoration: none;
      color: rgb(241, 238, 238);
      padding: 20px 10px;
      fill: #FFF;
    }
    .enquete-answer-button:hover{
      background-color: rgb(158, 248, 158);
    }
    span{
      background-color: red;
      color: #fff;
      padding: 2px 5px;

    }
  }
}
/*新規アンケート作成の際の案内*/
.login-new-info{
  position: relative;
  left: 30%;
  width: 50%;
  margin-top: 50px;
  .div{
    background-color: blanchedalmond;
    border-bottom: 5px solid rgb(236, 55, 55);
    margin-bottom: 50px;
    padding: 10px 0;
    text-align: center;
  }
  .img-div{
    margin: 50px 0;
    position: relative;
    left: 35%;
  }
  .login-a{
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: #522f60;
    color: #fff;
    width: 100%;
    margin-bottom: 40px;
    padding: 15px 0;
    transition: box-shadow .3s;
    box-shadow: 0 12px 12px #a262bb;
    transform: translateY(-4px);
  }
  .login-a:hover{
    background-color: #754688;
  }
  .enquete-a{
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: #522f60;
    color: #fff;
    width: 100%;
    margin-bottom: 40px;
    padding: 15px 0;
    transition: box-shadow .3s;
  }
  .enquete-a:hover{
    background-color: #754688;
    box-shadow: 0 12px 12px #a262bb;
    transform: translateY(-4px);
  }
}
/*一覧ページにてアンケートタイプリンクへ*/
.enquete-select-area{
  display: flex;
  width: 80%;
  position: relative;
  left: 10%;
  margin-bottom: 30px;
  .new-enquete{
    width: 49%;
    margin-right: 1%;
    text-align: center;
    a{
      width: 100%;
      background-color: rgb(229, 197, 150);
      display: block;
      color: #522f60;
      font-family: 'Times New Roman', Times, serif;
      font-weight: bold;
      text-decoration: none;
      padding: 10px 0;
      transition: box-shadow .3s;
    }
    a:hover{
      background-color: rgb(251, 241, 225);
      transform: translateY(-4px);
      box-shadow: 0 12px 12px rgb(229, 197, 150);
    }
  }
  .area-enquete{
    width: 49%;
    margin-left: 1%;
    text-align: center;
    a{
      width: 100%;
      background-color: rgb(229, 197, 150);
      color: #522f60;
      font-family: 'Times New Roman', Times, serif;
      font-weight: bold;
      display: block;
      text-decoration: none;
      padding: 10px 0;
      transition: box-shadow .3s;
      
    }
    a:hover{
       background-color: rgb(251, 241, 225);
       box-shadow: 0 12px 12px rgb(229, 197, 150);
       transform: translateY(-4px);
    }
  }
}

