@media screen and (max-width: 768px){
  .site-info, #site-area-info{
     font-size: 16px;
     padding: 12px 0;
    }

  .site-gide-text{
    width: 90%;
    margin-top: 10px;
  }


  .site_guidance-area{
    display: block;
    width: 100%;
   .site-gide-img{
     width: 100%;
     img{
       display: block;
       width: 90%;
       position: relative;
       left: 2%;
       max-width: 90%;
     }
   }
  }
  /*サイトボタンエリア */
    .site-enquete-button-div{
      margin-top: -10px;
      margin-bottom: 20px;
      width: 100%;
      max-width: 100%;
      .a{
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        width: 90%;
        max-width: 90%;
        box-sizing: border-box;
        margin-left: 0;
        img{
            width: 10%;
            margin-left: 0;
          }
        div{
          margin-top: 1%;
          margin-left: -3%;
          width: 70%;
        }
      }

      
    }
    /*サイト内のアンケート登録の説明エリア*/
        .site_enquete_description{
          display: block;
          width: 100%;
          ul{
            margin:0 auto;
            margin-bottom: 50px;
            width: 95%;
            list-style: none;
            position: relative;
            left: -5%;
            li{
              margin-top: 10px;
              img{
                width: 150px;
                height: 150px;
              }
            }
            .step-list{
                margin-top: 20px;
                margin-bottom: 15px;
                background-color: #522f60;
                color:#ecc5c9;
                border-radius: 100px;
                width: 50%;
                position: relative;
                left: 25%;

            }
          }
        }
    /*新規アンケート作成の際の案内*/
      .login-new-info{
        position: relative;
        left: 5%;
        width: 90%;
        margin-top: 50px;
        .img-div{
           left: 30%;
           width: 20px;
         }
      }
  /*アンケート一覧ページの案内文*/
  .aggregate_info{
    max-width: 100%;
    width: 90%;
    overflow-wrap:break-word;
    left: 0;
    margin-left: 5%;
  }
  /*アンケートリンクボタン*/
  .enquete-select-area{
    display: block;
    padding: 10px 0;
    border-top: 1px dotted #c0c0c0;
    /*新規,地域ボタン*/
    .new-enquete, .area-enquete{
      width: 100%;
      margin-bottom: 5%;
    }
  }
  /*県内の写真のページ*/
.img_area{
  width: 100%;
  margin-bottom: -2%;
  a{
    width: 90%;
    background-color: #1a813d;
    padding: 10px;
    margin-left: 5%;
    margin-bottom: 2%;
    padding: 15px 10px;
    text-decoration: none;
    color: #fff
  }
  a:hover{
    background-color: rgb(30, 222, 30);
  }
  img{
    width: 95%;
    position: relative;
    left: 5%;
    top: 2%;
    background-color: #c0c0c0;
  }
}
}
