.login_title{
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  font-size: 20px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login_main{
  border-radius: 6px;
  width: 30%;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 20px;
  padding: 2% 5%;
  .field{
    width: 100%;
    margin-bottom: 40px;
    label{
      margin-bottom: 6px;
      font-size: 12px;
    }
    em, span{
      font-size: 12px;
    }
    input{
      display: block;
      width: 100%;
      border-color: 1px solid #f0f0f0;
      font-size: 12px;
    }
    span{
      color: red;
      font-weight: bold;
    }
  }
  .field_check{
    margin-top: -30px;
    margin-bottom: 30px;
  }
  .actions{
    width: 100%;
    input{
      display: block;
      width: 100%;
      border-color: 1px solid #f0f0f0;
      background-color: rgb(43, 200, 43);
      border: none;
      color: #fff;
      padding: 8px 0;
    }
    input:hover{
     background-color: rgb(108, 222, 108);
    }
  
  }
}

@media screen and (max-width: 767px) {
  .login_title{
    margin: 0;
    margin-top: 10px;
    }

  .login_main{
     width: 100%;
     background-color: #f0f0f0;
     .actions{
       width: 90%;
       margin-left: 5%;
       margin-bottom: 15px;
     }
     input{
      height: 40px;
    }
  }
}